<form method="post" action="{{ path('app_carte_paiement_delete', {'id': carte_paiement.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette carte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carte_paiement.id) }}">
    <button class="btn">Supprimer</button>
</form>
