{% extends 'base.html.twig' %}

{% block title %}Dialotel Accueil{% endblock %}

{% block body %}
<style>
    {#  CSS for emergencies  #}
    /*.example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }*/
    /*.example-wrapper code { background: #F5F5F5; padding: 2px 6px; }*/
</style>

<div class="wrapper">

    // Code template here

</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/js/app.js"></script>
{% endblock %}