{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Créer un annonce</h1>

    {{ include('annonce_crud/_form.html.twig') }}

    <a href="{{ path('app_annonce_crud_index') }}">Retour à la liste</a>
{% endblock %}
